.App {
  display: flex;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #ffc300;
  height: 110px;
  padding: 0 20px 20px 20px;
  color: #222;
}

.App-title {
  text-align: center;
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.Main {
  width: 100%;
}

.map {
  height: calc(100vh - 160px);
  width: 100%;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media (max-width: 600px) {
  .Container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .Main {
      height: calc(100vh - 155px);
  }

}

@media (max-width: 350px) {
  .App-title {
    text-align: center;
    font-size: 1.0em;
  }
}