#roundButton {
  background-color: #96D9FF;
  width: 40px;
  height: 40px;
  border-radius: 25%;
  border: 5px solid black;
  outline: none;
  transition: all .2s cubic-bezier(0, 1.26, .8, 1.28);
  text-align: center;
  font-size: 20px;
  color: #037584;
  margin: 10px;
}
 
#roundButton:hover {
  background-color: #96D9FF;
  cursor: pointer;
  border: 5px solid #037584;
  color: black;
}
 
#roundButton:active {
  border-color: #003557;
  background-color: #FFF;
}